<a href="https://colab.research.google.com/github/HAKK1123/HAKK1123/blob/main/Python%E5%9F%BA%E7%A4%8E(%E5%A4%89%E6%95%B0%E3%81%A8%E3%83%87%E3%83%BC%E3%82%BF)_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

式と演算

In [ ]:
# print関数に数値

print(1)
print(10)

1
10

In [ ]:
# 加算と演算

print(1 + 1)
print(10 - 2)

2
8

In [ ]:
# 文字列の演算

print('1' + '1')
print('オラ' * 3)

11
オラオラオラ

In [ ]:
# 文字列の演算の応用

print('Python' + 'の世界へようこそ')
print('Pythonは' + 'とっても' * 3 + '楽しいですよ')

Pythonの世界へようこそ
Pythonはとってもとってもとっても楽しいですよ

In [ ]:
# 文字列の途中で改行

print('はじめまして松田です身体を動かすのが好きです')
print('はじめまして\n松田です\n身体を動かすのが好きです')
print('引用符には\'と\"があります')

はじめまして松田です身体を動かすのが好きです
はじめまして
松田です
身体を動かすのが好きです
引用符には'と"があります

変数

In [ ]:
# 同じ式が何度も登場

print('半径が3cmの円の直径は')
print(3 * 2)
print('その円の円周の長さは、直径 * 円周率で求まるため、')
print(3 * 2 * 3.14)

半径が3cmの円の直径は
6
その円の円周の長さは、直径 * 円周率で求まるため、
18.84

In [ ]:
# 変数の理由

name = '松田'
age = 22
print(name)
print(age)

松田
22

In [ ]:
print('半径が3cmの円の直径は、')
dia = 3 * 2
print(dia)
print('その円の円周の長さは、')
print(dia * 3.14)

半径が3cmの円の直径は、
6
その円の円周の長さは、
18.84

In [ ]:
# 変数の上書き

age = 20
print('浅木の年齢は')
print(age)

age = 24
print('嘘、本当は')
print(age)

浅木の年齢は
20
嘘、本当は
24

In [ ]:
# アンパック代入

name, age = '浅木', 24

In [ ]:
# 浅木さんの年齢を予測

age = 24
print('浅木先輩の今年の年齢は')
print(age)
age + 1
print('来年は')
age + 1
print(age)
print('再来年は')
age + 1
print(age)

浅木先輩の今年の年齢は
24
来年は
24
再来年は
24

In [ ]:
# 浅木さんの年齢を予測(修正版)

age = 24
print('浅木先輩の今年の年齢は')
print(age)
age = age + 1
print('来年は')
print(age)
age = age + 1
print('再来年は')
print(age)
age = age + 1

浅木先輩の今年の年齢は
24
来年は
25
再来年は
26

In [ ]:
# 加減乗法

age += 1
age -= 1

In [ ]:
# キーボードから値を入力

name = input('あなたの名前を入力してください　>>')
print('おお' + 'よ、そなたが来るのを待っておったぞ!')

あなたの名前を入力してください　>>快斗
おおよ、そなたが来るのを待っておったぞ!

データ型

In [ ]:
# 異なるデータ型

X = '松田'
print(X)
X = 23
print(X)
X = 175.6
print(X)

松田
23
175.6

In [ ]:
# 値のデータ型 int型 = 整数

x = 10
print(type(x))

<class 'int'>

In [ ]:
#割り勘計算のプログラム

price = input('料金を入力 >>')
print(type(price))

料金を入力 >>15000
<class 'str'>

In [ ]:
# データ型の変換

x = 3.14
y = int(x)
print(y)
print(type(y))
z = str(x)
print(z)
print(type(z))
print(z * 2)

3
<class 'int'>
3.14
<class 'str'>
3.143.14

In [ ]:
# 文字列に数値を埋め込む

name = '松田光太'
age = 23
height = 175.6
print('私の名前は' + name + 'で、年齢は' + str(age) + '歳で、身長は' + str(height) + 'cmです')

私の名前は松田光太で、年齢は23歳で、身長は175.6cmです

In [ ]:
# format関数で文字列の数値を埋め込む

name = '松田光太'
age = 23
height = 175.6
print(f'私の名前は{name}で、年齢は{age}歳で、身長は{height}cmです')

私の名前は松田光太で、年齢は23歳で、身長は175.6cmです

In [ ]:
# 割り勘計算プログラム

price = int(input('料金を入力 >>'))
number = int(input('人数を入力 >>'))
payment = price / number
print('お支払は{}円です'.format(payment))

料金を入力 >>4000
人数を入力 >>4
お支払は1000.0円です